.auth-form {
  max-width: 350px;
  margin: 2em auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 16px #0002;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.auth-form h2 {
  color: #6153cc;
  text-align: center;
  font-weight: 600;
}
.auth-form input, .auth-form select {
  padding: 0.7em;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
}
.auth-form button {
  background: #6153cc;
  color: #fff;
  border: none;
  padding: 0.8em;
  border-radius: 30px;
  font-size: 1em;
  cursor: pointer;
  font-weight: 600;
}
.auth-form button:hover {
  background: #4ad0e4;
}
